.rectangleAboutMe {
  background-color: #DBF8EF;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #b9e4d7;
  border-radius: 4px;
  .rectangleText {
    height: 17px;
    width: 40px;
    color: #181818;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 5px;
    display: inline-block;
  }
  i {
    float: right;
    margin-right: 5px;
    cursor: pointer;
    color: gray;
    &:hover{
      color: $color;
    }
  }
  .rectangleAboutMe2 {
    background-color: #FFFFFF;
    width: 100%;
    padding: 11px;
    margin-left: 1px;
    color: #575756;
    border: none;
    resize: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    .create-bio{
      text-decoration: none;
      color: #575756;
      float: left;
      &:hover {
        color: $color;
      }
    }
  }
}