.rectangleAlbum {
  background-color: #DBF8EF;
  padding: 7px;
  margin: 15px auto;
  width: $profileWidth;
  @include lg {
    width: $profileLGWidth;
  }
  @include xl {
    width: $profileXLWidth;
  }
  border: 1px solid #b9e4d7;
  border-radius: 4px;
  .title {
    font-size: 20px;
    color: #575756;
    font-weight: bold;
    margin-bottom: 13px;
    display: inline-block;
  }
  .buttonAlbum {
    float: right;
    margin: 0;
    background: none;
    border: 2px solid #575756;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    &:hover {
      border: 2px solid $color;
      color: $color;
    }
    i {
      color: gray;
      cursor: pointer;
      &:hover {
        color: $color;
      }
    }
  }
  .back {
    border: none;
    &:hover {
      border: none;
    }
  }
  .albumContainer {
    background: white;
    width: 100%;
    display: block;
    max-height: 80vh;
    padding: 5px;
    overflow: auto;
    transition: 2s linear;
    animation: hei 2s;
    @keyframes hei {
      0% {
        max-height: 0;
      }
      100% {
        max-height: 80vh;
      }
    }
    .noAlbum {
      display: none;
      text-align: center;
      width: 100%;
      font-size: 16px;
      position: relative;
      color: #ABABAB;
      padding-top: 10%;
    }
    .albumDetail {
      text-align: center;
      height: auto;
      .albumTitle {
        font-size: 2.5em;
        font-weight: bold;
        margin: 15px 0 10px 0;
      }
      .albumDescription {
        font-size: 15px;
        padding: 0 5%;
        margin-bottom: 15px;
      }
    }
    .albumRect, .pictureRect {
      float: left;
      padding-right: 0.2rem;
      padding-bottom: 0.2rem;
      width: 25%;
      height: 203px;
      &:nth-child(4n) {
        padding-right: 0;
      }
      .albumImgContainer {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        text-align: center;
        background-color: black;
        height: 100%;
        .albumImg {
          height: 199px;
        }
        .albumInfo {
          opacity: 1;
          transition: 0.5s ease-in-out;
          position: absolute;
          width: 100%;
          height: 199px;
          top: 0;
          text-align: center;
          &:hover {
            background: rgba(0, 0, 0, 0.63);
            .lock {
              color: white;
            }
            .albumTitle {
              color: white;
              .albumStats {
                display: block;
              }
            }
          }
          .lock {
            color: rgba(0, 0, 0, 0.63);
            position: relative;
            top: 50px;
          }
          .albumTitle {
            color: black;
            position: absolute;
            bottom: 0;
            padding: 5px;
            font-size: 13px;
            font-weight: lighter;
            width: 100%;
            text-align: left;
            .albumStats {
              display: none;
              margin-top: 5px;
              .albumTokens {
                float: right;
                font-size: 12px;
                img {
                  width: 15px;
                  height: 21px;
                  vertical-align: middle;
                  margin-left: 5px;
                }
              }
              .albumViewers {
                float: left;
                font-size: 12px;
                i {
                  margin-left: 5px;
                  font-size: 17px;
                }
              }
            }
          }
        }
      }
    }
    .pictureRect {
      &:nth-child(4n+1) {
        padding-right: 0;
      }
      &:nth-child(4n) {
        padding-right: 0.2rem;
      }
    }
  }
}