.rectangleChat {
  height: auto;
  position: relative;
  background-color: #DBF8EF;
  padding: 5px 4px;
  width: auto;
  min-width: 310px;
  max-width: 450px;
  border: 1px solid #b9e4d7;
  border-radius: 4px;
  margin-bottom: 15px;
  .rectangleText {
    height: auto;
    color: #181818;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 5px;
    display: inline-block;
    width: auto;
  }
  i {
    float: right;
    margin-left: 10px;
    cursor: pointer;
    &:hover {
      color: $color;
    }
  }
  .separator {
    width: 100%;
    height: 1px;
    background-color: #D6D6D6;
    margin: 0 0 5px 0;
  }
  .contentChat {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 100%;
    word-break: break-word;
    background-color: #FFFFFF;
    .chat {
      width: 100%;
      height: 93%;
      position: relative;
      overflow-y: auto;
      >div {
        position: absolute;
        bottom: 0;
        padding: 5px 3px;
        color: gray;
        width: 100%;
      }
      .message {
        border-bottom: 1px solid #b9b9b9;
        padding: 5px 0;
        width: 100%;
        display: inline-flex;
        position: initial;
        .image {
          width: 32px;
          height: 32px;
          border-radius: 16px;
          display: inline-block
        }
        .body {
          display: inline-block;
          padding-left: 8px;
          .content {
            padding-left: 0;
            font-size: 12px;
            color: black;
          }
          .user {
            color: #FF4C00;
            font-weight: bold;
            font-size: 12px;
          }
        }
      }
    }
    .chatInput {
      position: relative;
      bottom: 0;
      width: 100%;
      height: 7%;
      outline: none;
    }
  }
  .noChat{
    height: 38px;
    background-color: white;
    padding: 5px;
    .message{
      color: #ABABAB;
      font-size: 14px;
      line-height: 33px;
      font-weight: 100;
    }
  }
  .config {
    overflow: hidden;
    min-height: 500px;
    max-height: 700px;
    height: 70vh;
    width: 100%;
    background-color: red;
    display: none;
  }
}