.comments {
  padding: 7px;
  .addComment {
    display: block;
    text-align: center;
    .photo-post-content {
      float: left;
      height: 30px;
      width: 30px;
      .photo-post {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 100%;
        max-height: 100%;
        min-width: 100%;
        max-width: 100%;
        overflow: hidden;
        background-color: #E8E8E8;
      }
    }
    .form {
      padding: 0;
      margin: 0;
      width: 93%;
      .newComment {
        margin: 0 0 0 5px;
        display: inline-block;
        background-color: #FFFFFF;
        min-height: 30px;
        width: 100%;
        outline: 0;
        padding: 7px;
        color: #575756;
        border: none;
        resize: none;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        overflow: hidden;
        &:empty:before {
          content: attr(placeholder);
        }
      }
    }
  }
}