.commentOptions{
    width: 90%;
    margin-left: 5px;
    display: inline-block;
    color:$color;
    .reply{
        display:inline-block;
        font-size: inherit;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
    .likeComment{
        display:inline-block;
        font-size: inherit;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
    .timeComment{
        display:inline-block;
        font-size: inherit;
        cursor: pointer;
        color: gray;
        &:hover{
            text-decoration: underline;
        }
    }
    .separator{
        display:inline-block;  
        margin: 0 2px;
        color: $color;   
    }
}