.comment {
    width: 100%;
    min-height: 35px;
    height: auto;
    margin-bottom: 0.2rem;
    font-size: 13px;
    .delete-comment{
        float: right;
        cursor: pointer;
        color: #D8D8D8;
    }
    .photo-post-content {
        float: left;
        width: 30px;
        height: 30px;
        .photo-post {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            min-height: 100%;
            max-height: 100%;
            min-width: 100%;
            max-width: 100%;
            overflow: hidden;
            background-color: #E8E8E8;
            display: block;
        }
    }
    .commentContent {
        margin: 0 0 0 5px;
        display: inline-block;
        word-break: break-word;
        width: 90%;
        outline: 0px;
        color: #575756;
        border: none;
        resize: none;
        font-size: inherit;
        font-family: 'Open Sans', sans-serif;
        overflow: hidden;
        .userComent {
            font-weight: bold;
            color: $color;
            cursor: pointer;
            margin-right: 0.2rem;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}