.rectangleAbout {
  height: auto;
  margin: 17px 0 0 17px;
  background-color: #DBF8EF;
  padding: 5px;
  display: inline-block;
  flex: 1;
  border: 1px solid #b9e4d7;
  border-radius: 4px;
  .rectangleText {
    height: 17px;
    color: #181818;
    font-size: 18px;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 5px;
    display: inline-block;
  }
  i {
    float: right;
    cursor: pointer;
  }
  .separator {
    width: 100%;
    height: 1px;
    background-color: #D9EFE8;
    margin-bottom: 5px;
  }
  .mainC {
    float: left;
    width: 100%;
    background: white;
    overflow: hidden;
    .secondC {
      float: left;
      width: 100%;
      border-right: 1px solid #EBEBEB;
      background: white;
      position: relative;
      right: 70%;
    }
  }
  .aboutContent {
    float: left;
    padding: 20px 10px;
    height: auto;
    font-size: 13px;
    form {
      padding: 0;
      display: block;
      text-align: left;
      .picker {
        div {
          width: 150px !important;
        }
      }
    }
    &.left {
      width: 30%;
      height: auto;
      position: relative;
      left: 70%;
      button {
        border: 0;
        background-color: white;
        outline: 0;
        width: 100%;
        margin-bottom: 10px;
        font-size: 13px;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: #00bda3;
        }
        &.active {
          color: #00bda3;
          font-weight: bold;
        }
      }
    }
    &.right {
      width: 70%;
      padding: 10px 15px;
      height: auto;
      position: relative;
      left: 70%;
      &.tabcontent {
        display: none;
        &.first {
          display: block;
        }
      }
      .bioTitle {
        margin: 0 0 5px 5px;
      }
      .bioContent {
        margin-left: 5px;
        outline: 0;
        width: 100%;
        height: 306px;
        resize: none;
        border: 2px solid #ABABAB;
        font-size: 13px;
        &:focus {
          border: 2px solid #00bda3;
        }
      }
      button {
        display: block;
        border: 2px solid #FD4E1E;
        margin: 15px 0;
        background-color: white;
        color: #FD4E1E;
        font-size: 13px;
        font-weight: bold;
        outline: 0;
        cursor: pointer;
        &:hover {
          background-color: #FD4E1E;
          color: white;
        }
      }
    }
  }
}