.modalGallery {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80vh;
    max-width: 80vw;
    z-index: 2;
    outline: none;
    background-color: #D5F7ED;
    .closeModal {
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 15px;
        position: absolute;
        right: -10%;
        top: -50px;
        padding: 0 7px;
        color: white;
        cursor: pointer;
        font-size: 22px;
        font-weight: lighter;
    }
    .picture {
        width: min-content;
        height: min-content;
        min-width: 20vw;
        min-height: 25vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        .image {
            max-width: 80vw;
            max-height: 80vh;
        }
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            width: auto;
            padding: 16px;
            opacity: .75;
            color: $color;
            height: 100%;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            font-weight: bold;
            font-size: 70px;
            user-select: none;
            -webkit-user-select: none;
        }
        .next {
            right: 0;
            &:hover{
                background-color: rgba(255,255,255,0);
                background-image: linear-gradient(to right, rgba(26,188,156,0) 0%, rgba(26,188,156,0.12) 32%, rgba(26,188,156,0.65) 100%);
                color: white
                
            }
        }
        .prev {
            left: 0;
            &:hover{
                background-color: rgba(255,255,255,0);
                background-image: linear-gradient(to left, rgba(26,188,156,0) 0%, rgba(26,188,156,0.12) 32%, rgba(26,188,156,0.65) 100%);
                color: white
                
            }
        }

        .column {
            float: left;
            width: 30%;
            margin-left: 15px;
            .demo {
                opacity: 0.5;
                height: 110px;
            }
            &.active {
                .demo {
                    opacity: 1;
                }
            }
        }
    }
}