.rectangleGifts {
  background-color: #DBF8EF;
  padding:5px;
  margin-top: 18px;
  border: 1px solid #b9e4d7;
  border-radius: 4px;
  .rectangleText {
    height: 17px;
    width: 40px;
    color: #181818;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 5px;
  }
  .contentGift {
    overflow: hidden;
    width: 100%;
    background-color: #FFFFFF;
    padding: 5px;  
    .gift-box {
      display: inline-flex;  
      padding: 5px 0;
      border-bottom: 1px solid #D6D6D6;
      .gift-image {
        width: 61px;
        height: 61px;
        float: left
      }
      .gift-description {
        display: inline-block;
        padding: 12px 40px;
        width: 80%;
        font-size: 12px;
        color: black;
        position: relative;
        .gift-name {
          display: inline-block;
          font-weight: bold;
          color: #00BDA3;
          margin-right: 15px;
          margin-bottom: 10px;
        }
        .gift-text {
          display: inline-block;
          margin-right: 15px;
          font-weight: bold;
        }
        .gift-strokes {
          display: inline-block;
        }
        .gift-date {
          display: inline-block;
        }
      }
    }
    .sendAGift {
      height: 14px;
      width: 61px;
      color: #00BDA3;
      font-size: 12px;
      line-height: 14px;
      cursor: pointer;
    }
  }
  .noGifts{
    height: 38px;
    background-color: white;
    padding: 5px;
    .message{
      color: #ABABAB;
      font-size: 14px;
      line-height: 33px;
      font-weight: 100;
    }
  }
}