.name-description {
  display: flex;
  width: $profileWidth;
  @include lg {
    width: $profileLGWidth;
  }
  @include xl {
    width: $profileXLWidth;
  }
  justify-content: space-between;
  .name {
    display: inline-block;
    line-height: 41px;
    color: #171717;
    font-size: 22px;
    font-weight: bold;
    padding-right: 8px;
    max-width: 35%;
    min-width: 20%;
    max-height: 41px;
    overflow: auto;
    word-break: break-all;
  }
  .describeYou {
    display: inline-block;
    color: #ababa9;
    font-size: 13px;
    line-height: 41px;
    max-width: 80%;
    min-width: 65%;
    word-break: break-all;
    max-height: 41px;
    overflow: auto;
    &:empty:before {
      content: attr(placeholder);
    }
  }
  .editButton{
    float: right;
    line-height: 41px;
    font-size: 16px;
    cursor: pointer;
    color:#D8D8D8;
    &:hover{
      color: $color;
    }
  }
}