.content {
  margin: 0 auto;
  width: $profileWidth;
  @include lg {
    width: $profileLGWidth;
  }
  @include xl {
    width: $profileXLWidth;
  }
  .mainImage-container {
    height: $profileHeight;
    width: $profileWidth;
    overflow: hidden;
    @include lg {
      width: $profileLGWidth;
    }
    @include xl {
      width: $profileXLWidth;
    }
    background-color: #D5F7ED;
    .mainImage {
      height: $profileHeight;
      width: $profileWidth;
      @include lg {
        margin-top: -56px;
        margin-bottom: -56px;
        height: $profileLGHeight;
        width: $profileLGWidth;
      }
      @include xl {
        margin-top: -71px;
        margin-bottom: -71px;
        height: $profileXLHeight;
        width: $profileXLWidth;
      }
      animation: opac 3s;
      .mainImage-loading-container {
        position: relative;
        width: inherit;
        height: inherit;
        .mainImage-loading {
          height: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      @keyframes opac {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
    .configMainPhoto {
      z-index: 2;
      position: absolute;
      margin-left: 15px;
      margin-top: 15px;
      width: 140px;
      height: 32px;
      background-color: #343434;
      opacity: 0;
      padding: 3px;
      text-align: center;
      color: white;
      cursor: pointer;
      border: 1px solid white;
      transition: all ease 0.4s;
      i {
        font-size: 25px;
        vertical-align: middle;
      }
      span {
        font-size: 12px;
      }
      .configMainPhoto-menu {
        position: absolute;
        top: 32px;
        width: 140px;
        visibility: hidden;
        background-color: white;
        color: #343434;
        border: 2px solid #00bda3;
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 12px;
          bottom: 100%;
          width: 0;
          height: 0;
          border: 5px solid transparent;
          border-bottom-color: #00bda3;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 13px;
          bottom: 100%;
          width: 0;
          height: 0;
          border: 3px solid transparent;
          border-bottom-color: white;
        }
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          font-size: 12px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 500;
          li {
            line-height: 25px;
            color: #575756;
            cursor: pointer;
            &:hover {
              color: #00bda3;
            }
          }
          .menu-separator {
            width: 96%;
            height: 2px;
            border-top: 1px solid #d0d0d0;
            margin-left: 2%;
          }
        }
      }
    }
    &:hover {
      .configMainPhoto {
        transition: 0.4s ease-in;
        visibility: visible;
        opacity: 0.7;
        &:hover {
          .configMainPhoto-menu {
            transition: 0.4s ease-in;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
    .profilePhoto-container {
      position: relative;
      top: -200px;
      left: 20px;
      margin-bottom: -180px;
      width: 176px;
      height: 176px;
      border-radius: 50%;
      border: 4px solid #ffffff;
      overflow: hidden;
      .profilePhoto {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        background-color: #D8D8D8;
        border-radius: 50%;
      }
      .profilePhoto-hover {
        visibility: hidden;
        position: absolute;
        bottom: 0;
        width: 96%;
        height: 0;
        left: 2%;
        background-color: #343434;
        opacity: 0.7;
        border-top: 1px solid white;
        color: white;
        text-align: center;
        font-size: 11px;
        transition: ease-in-out 0.4s;
        .hover-content {
          cursor: pointer;
          width: 70%;
          margin-left: 15%;
          i {
            font-size: 25px;
            vertical-align: middle;
          }
          span {
            font-size: 12px;
          }
        }
      }
      &:hover {
        .profilePhoto-hover {
          padding-top: 15px;
          visibility: visible;
          height: 35%;
          transition: all ease 0.4s;
        }
      }
    }
  }
  .separator-h2 {
    border: 1px solid #80DED1;
    margin: 0;
    width: $profileWidth;
    @include lg {
      width: $profileLGWidth;
    }
    @include xl {
      width: $profileXLWidth;
    }
  }
}