.rectangleLiveNow {
  box-sizing: border-box;
  height: auto;
  border: 1px solid #b9e4d7;
  border-radius: 4px;
  background-color: #F9EAE5;
  padding: 10px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  .user-live {
    float: left;
    .photo-live-content {
      float: left;
      width: 40px;
      height: 40px;
      .photo-live {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 100%;
        min-width: 100%;
        max-height: 100%;
        max-width: 100%;
        overflow: hidden;
        background-color: #D8D8D8;
        border-radius: 50%;
      }
    }
    .name-live {
      display: inline-block;
      color: #171717;
      font-size: 14px;
      font-weight: bold;
      line-height: 17px;
      padding: 3px 10px;
      .live-now {
        font-size: 13px;
        font-weight: 100;
        color: #575756;
        .circle-live {
          display: inline-block;
          height: 10px;
          width: 10px;
          background-color: #39A935;
          border-radius: 50%;
          margin-right: 1px;
        }
      }
    }
  }
  .button-live {
    float: right;
    margin: 15px 10px 0 0;
    .button-start-live {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      color: #ff4c00;
      border: 2px solid #ff4c00;
      cursor: pointer;
      height: 26px;
      width: auto;
      padding-right: 16px;
      padding-left: 16px;
      padding-top: 5px;
    }
  }
  .live-description {
    width: 100%;
    background-color: #FFFFFF;
    font-size: 14px;
    border: none;
    margin: 10px 0;
    .enter-tags {
      float: left;
      color: #FF4C00;
      margin-right: 2px;
    }
    .enter-goal {
      display: inline-block;
      margin-right: 2px;
      color: #FF4C00;
      width: auto;
    }
    .tags {
      display: table-cell;
      color: #ADADAD;
    }
    .goal {
      display: inline-flex;
      .select-goal{
        border: 1px solid $color;
        cursor: pointer;
        color: white;
        margin-left: 5px;
        outline: none;
        background-color: $color;
        &:hover{
          color: $color;
          background-color: white
        }
     }
    }
    i {
      float: right;
      color: #ADADAD;
      cursor: pointer;
      &:hover {
        color: $color;
      }
    }
  }
  .new-goal {
    background-color: white;
    margin-bottom: 10px;
    .text{
      position: absolute;
      font-size: 15px;
      padding-left: 5px;
    }
    .add-goal {
      display: flex;
      justify-content: space-between;
      padding-left: 5px;
      padding-bottom: 15px;
      .add-button {
        position: relative;
        margin-left: 2px;
        font-size: 20px;
        i {
          position: relative;
          cursor: pointer;
          top: 45px;
          margin: 0 12px;
          &:hover {
            color: $color;
          }
        }
      }
    }
  }
  .live-video {
    width: 100%;
    background-color: #575756;
    position: relative;
    .video {
      width: 100%;
    }
    .not {
      display: none;
    }
    .preview {
      position: absolute;
      top: 0;
      bottom: 4px;
      left: 0;
      right: 0;
      text-align: center;
      color: #FFFFFF;
      font-weight: bold;
      text-shadow: 0 1px 1px #000000;
    }
  }
  .info-video {
    display: inline-block;
    padding-top: 5px;
    font-size: 14px;
    color: #575756;
    width: 100%;
    .viewers-video {
      float: left;
      padding-right: 10px;
      border-right: 1px solid #575756;
      margin-right: 10px;
      i {
        margin-right: 7px;
      }
    }
    .likes-video {
      @extend .viewers-video;
      i {
        color: red;
      }
    }
    .report-video {
      float: left;
      font-weight: bold;
      cursor: pointer;
    }
    .control-video {
      float: right;
      font-size: 15px;
      i {
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}