.logedInContent {
    display: inline-block;
    text-align: left;
    padding: 10px 0;
    .name-loged {
        margin-right: 15px;
        display: inline-block;
        line-height: 45px;
        cursor: pointer;
        text-decoration: none;
        color: #575756;
    }
    .photo-loged-content {
        line-height: 45px;
        display: inline;
        .photo-loged {
            width: 30px;
            border-radius: 15px;
            height: 30px;
            vertical-align: middle;
        }
    }
    .menu-loged-content {
        display: inline-block;
        margin: 0 15px;
    }
    .searchIcon {
        max-width: 100%;
        height: auto;
        cursor: pointer;
        vertical-align: middle;
        margin-right: 1rem;
      }
}