.rectangleMedia {
  background-color: #DBF8EF;
  padding:5px;
  margin-top: 18px;
  border: 1px solid #b9e4d7;
  border-radius: 4px;
  .rectangleText {
    height: 17px;
    display: inline-block;
    width: 100%;
    color: #181818;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 5px;
    .album-button{
      float: right;
      border: none;
      background: none;
      cursor: pointer;
      outline: none;
      color: gray;
      &:hover{
        color: $color;
      }
    }
  }
  .contentMedia {
    max-height: 303px;
    overflow: hidden;
    width: 100%;
    .media-box {
      float: left;
      width: 33.3%;
      height: 100px;
      .media-image {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 100%;
        max-height: 100%;
        min-width: 100%;
        max-width: 100%;
        overflow: hidden;
        padding-left: 2px;
        cursor: pointer;
      }
    }
  }
  .noPhoto{
    height: 38px;
    background-color: white;
    padding: 5px;
    .message{
      color: #ABABAB;
      font-size: 14px;
      line-height: 33px;
      font-weight: 100;
    }
  }
}