.menu-loged {
    font-size: 24px;
    line-height: 45px;
    i {
        vertical-align: middle;
        color: #575756;
        font-weight: bold;
    }
    &.tooltip {
        position: relative;
        display: inline-block;
        /* If you want dots under the hoverable text */
        .tooltiptext {
            visibility: hidden;
            width: 155px;
            background-color: white;
            border: 2px solid #00bda3;
            color: #575756;
            text-align: center;
            padding: 5px 0;
            border-radius: 2px;
            /* Position the tooltip text */
            position: absolute;
            z-index: 1;
            top: 45px;
            left: -65px;
            margin-left: -60px;
            /* Fade in tooltip */
            opacity: 0;
            transition: opacity 1s;
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 128px;
                bottom: 100%;
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-bottom-color: #00bda3;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 130px;
                bottom: 100%;
                width: 0;
                height: 0;
                border: 3px solid transparent;
                border-bottom-color: white;
            }
            &:hover {
                visibility: visible;
                opacity: 1;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                font-size: 12px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;
                li {
                    line-height: 25px;
                    color: #575756;
                    cursor: pointer;
                    &:hover {
                        color: #00bda3;
                    }
                    a {
                        text-decoration: none;
                        color: inherit;
                        display: inherit;
                    }
                }
                .menu-separator {
                    width: 96%;
                    height: 2px;
                    border-top: 1px solid #d0d0d0;
                    margin-left: 2%;
                }
            }
        }
        &:hover {
            .tooltiptext {
                visibility: visible !important;
                opacity: 1 !important;
            }
        }
    }
}