.ReactModalPortal {
    .ReactModal__Overlay {
        background: rgba(0, 189, 163, .9) !important;
        .modalDescribeYou {
            position: absolute;
            margin-top: -53px;
            margin-left: -317px;
            margin-right: -317px;
            top: 50%;
            left: 50%;
            z-index: 2;
            outline: none;
            height: 106px;
            width: 634px;
            background-color: #D5F7ED;
            .closeModal{
                width: 30px;
                height: 30px;
                border: 1px solid white;
                border-radius: 15px;
                position: absolute;
                right: -210px;
                top: -100px;
                padding: 0 7px;
                color: white;
                cursor: pointer;
                font-size: 22px;
                font-weight: lighter;
              }
            .form-container {
                text-align: center;
                padding: 7px;
                form {
                    padding: 0;
                    display: block;
                    text-align: left;
                    font-size: 14px;
                    color: #ABABAB;
                    .describeYou {
                        width: 100%;
                        height: 53px;
                        padding: 6px 8px;
                        font-size: 14px;
                        color: #ABABAB;
                        border: none;
                        outline: none;
                        resize: none;
                    }
                    .caracterCount {
                        float: left;
                        color: #ABABAB;
                        font-size: 12px;
                        font-weight: 100;
                    }
                    button {
                        float: right;
                        height: 26px;
                        margin: 8px 0 5px 8px;
                        cursor: pointer;
                        outline: none;
                        font-size: 12px;
                        &.cancel {
                            border: 2px solid #ABABAB;
                            color: #ABABAB;
                            background-color: transparent;
                        }
                        &.save {
                            border: 2px solid $color;
                            color: white;
                            background-color: $color;
                        }
                    }
                }
            }
        }
    }
}