.rectangleNewPost {
  background-color: #DBF8EF;
  padding-top: 5px;
  padding-left: 4px;
  margin-bottom: 15px;
  border: 1px solid #b9e4d7;
  border-radius: 4px;
  .postForm{
    height: 108px;
  }
  .labelPostContent {
    display: inline-block;
    padding-left: 0;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 5px;
    li {
      display: inline;
      padding: 15px;
      .postLabel {
        font-size: 13px;
        cursor: pointer;
      }
      .postLabel:hover {
        color: #00bda3;
      }
    }
    .separator {
      display: inline-block;
      width: 2px;
      height: 12px;
      background-color: #9e9e9c;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  form {
    padding: 0;
    width: 100%;
    .rectanglePost {
      margin: 0 0 0 -2px;
      display: block;
      background-color: #FFFFFF;
      height: 76px;
      width: 100%;
      padding: 11px;
      color: #575756;
      border: none;
      resize: none;
      font-size: 24px;
      font-family: 'Open Sans', sans-serif;
      overflow: hidden;
      outline: 0;
      &:hover {
        ~.postOptions {
          visibility: visible;
          transform: translateX(-20px);
          opacity: 1;

        }
      }
    }
    .postOptions {
      visibility: hidden;
      position: relative;
      float: right;
      top: -60px;
      right: 20px;
      transition: 0.7s ease-in-out;
      opacity: 0;
      i {
        margin-bottom: 10px;
        cursor: pointer;
        color: gray;
        display: block;
        width: 0;
        &:hover {
          color: $color;
        }
      }
      &:hover {
        visibility: visible;
        transform: translateX(-20px);
        opacity: 1;
      }
    }
    .buttonPost {
      float: right;
      margin: 5px 5px 5px 0;
      .buttonNewPost {
        padding: 0 16px;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        color: black;
        background-color: white;
        cursor: pointer;
        height: 26px;
        width: auto;
        border: none;
        outline: 0;
        &:hover{
          color: $color;
          box-shadow: 2px 2px 4px 0;
          transform: translateY(-2px);
        }
      }
    }
  }
}