.rectanglePost {
  box-sizing: border-box;
  height: auto;
  border: 1px solid #b9e4d7;
  border-radius: 4px;
  background-color: #DBF8EF;
  margin-bottom: 15px;
  .user-post {
    margin: 10px 0 0 10px;
    float: left;
    .photo-post-content {
      float: left;
      height: 40px;
      width: 40px;
      .photo-post {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 100%;
        max-height: 100%;
        min-width: 100%;
        max-width: 100%;
        overflow: hidden;
        background-color: #E8E8E8;
      }
    }
    .name-post {
      display: inline-block;
      color: #171717;
      font-size: 16px;
      font-weight: bold;
      line-height: 17px;
      margin-left: 10px;
      margin-top: 4px;
      .live-now {
        font-size: 13px;
        font-weight: 100;
        color: #575756;
        .circle-live {
          display: inline-block;
          height: 10px;
          width: 10px;
          background-color: #39A935;
          border-radius: 5px;
        }
      }
    }
  }
  i {
    float: right;
    height: 25px;
    margin: 11px 11px 0 0;
    cursor: pointer;
    &.tooltip {
      position: relative;
      display: inline-block;
      /* If you want dots under the hoverable text */
      .tooltiptext {
        visibility: hidden;
        width: 75px;
        background-color: white;
        border: 2px solid #00bda3;
        color: #575756;
        text-align: center;
        padding: 0;
        border-radius: 2px;
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        top: 20px;
        left: -60px;
        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 1s;
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 58px;
          bottom: 100%;
          width: 0;
          height: 0;
          border: 5px solid transparent;
          border-bottom-color: #00bda3;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 60px;
          bottom: 100%;
          width: 0;
          height: 0;
          border: 3px solid transparent;
          border-bottom-color: white;
        }
        &:hover {
          visibility: visible;
          opacity: 1;
        }
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          font-size: 12px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 500;
          li {
            line-height: 25px;
            color: #575756;
            cursor: pointer;
            &:hover {
              color: #00bda3;
            }
          }
          .menu-separator {
            width: 96%;
            height: 2px;
            border-top: 1px solid #d0d0d0;
            margin-left: 2%;
          }
        }
      }
      &:hover {
        .tooltiptext {
          visibility: visible !important;
          opacity: 1 !important;
        }
      }
    }
  }
  .button-live {
    float: right;
    margin: 15px 10px 0 0;
    .button-start-live {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      color: #ff4c00;
      border: 2px solid #ff4c00;
      cursor: pointer;
      height: 26px;
      width: auto;
      padding-right: 16px;
      padding-left: 16px;
    }
  }
  .textPost {
    margin: 3px 5px 3px 5px;
    background-color: #FFFFFF;
    height: auto;
    width: 546px;
    @include lg {
      width: 835px;
    }
    @include xl {
      width: 914px;
    }
    padding: 5px;
    color: #575756;
    border: none;
    resize: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    outline: 0;
    cursor: default;
  }
  .post-media-content {
    margin-top: 70px;
    margin-left: 11px;
    height: 300px;
    width: 485px;
    background-color: #575756;
    .post-media {
      width: 100%;
      height: 100%;
    }
  }
  .labelPostContent {
    display: inline-block;
    padding-left: 0;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 5px;
    li {
      display: inline;
      padding: 15px;
      .postLabel {
        font-size: 13px;
        cursor: pointer;
        .icon {
          margin: 0;
          float: none;
          height: auto;
          font-size: 15px;
        }
      }
      .postLabel:hover {
        color: #00bda3;
      }
    }
    .separator {
      display: inline-block;
      width: 2px;
      height: 12px;
      background-color: #9e9e9c;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .likes {
    float: right;
    font-size: 14px;
    margin: 8px 8px 0 0;
  }
}