.rightContent {
  float: left;
  margin-left: 17px;
  margin-top: 17px;
  overflow: hidden;
  height: 140vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  .staticZone {
    display: block;
  }
  .scrollZone {
    display: block;
    overflow: auto;
    height: inherit;
  }
}