.ReactModalPortal {
  .ReactModal__Overlay {
    background: rgba(0, 189, 163, .9) !important;
    .modalClosingRoom {
      position: absolute;
      width: 460px;
      margin-top: -164px;
      margin-left: -230px;
      margin-right: -230px;
      top: 50%;
      left: 50%;
      z-index: 2;
      background: #ffffff;
      outline: none;
      .closeModal{
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 15px;
        position: absolute;
        right: -210px;
        top: -100px;
        padding: 0 7px;
        color: white;
        cursor: pointer;
        font-size: 22px;
        font-weight: lighter;
      }
      .form-container {
        text-align: center;
        padding: 25px;
        .message {
          color: #575756;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
          border-bottom: 2px solid #D6D6D6;
          padding-bottom: 10px;
        }
        .button {
          display: inline-block;
          padding: 10px 25px;
          margin-right: 20px;
          background-color:white;
          border: 1px solid $color;
          color: $color;
          text-align: center;
          font-size: 14px;
          margin-top: 13px;
          cursor: pointer;
          outline: none;
          &:hover{
            background-color:$color;
            color: white;
          }
        }
      }
    }
  }
}