.subCommentList {
    background-color: transparent;
    margin-top: -5px;
    padding: 5px 12px 6px 30px;
    .comment {
        border-left: 2px solid rgba(0, 189, 163, 0.4);
        padding-left: 0.2rem;
        min-height: 30px;
        height: auto;
        margin: 0;
        padding-bottom: 5px;
        font-size: 12px;
        .photo-post-content {
            height: 20px;
            width: 20px;
            .photo-post {
                min-height: 100%;
                max-height: 100%;
                min-width: 100%;
                max-width: 100%;
                overflow: hidden;
            }
        }
        .commentContent {
            min-height: fit-content;
        }
    }
}