.rectangleToolsContainer {
  height: 95px;
  background-color: #DBF8EF;
  padding: 5px 0 5px 5px;
  margin-bottom: 15px;
  border: 1px solid #b9e4d7;
  border-radius: 4px;
  display: flex;
  .rectangleTool {
    /*cursor: pointer;*/
    flex: 1;
    text-align: center;
    display: inline-block;
    height: 100%;
    background-color: white;
    padding: 5px;
    margin-right: 0.4rem;
    .toolImageContent {
      margin-top: 12%;
      @include lg {
        margin-top: 7%;
      }
      @include xl {
        margin-top: 6%;
      }
      .toolImage {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 40px;
        width: fit-content;
      }
    }
    .goalsContent {
      height: 44px;
      margin-top: 12%;
      padding-top: 15px;
      @include lg {
        margin-top: 7%;
        padding-top: 20px;
      }
      @include xl {
        margin-top: 6%;
        padding-top: 22px;
      }
    }
    .toolName {
      color: #181818;
      font-size: 12px;
      line-height: 14px;
    }
  }
}