.ReactModalPortal {
  .ReactModal__Overlay {
    background: rgba(0, 189, 163, .9) !important;
    .modalGetTokens {
      position: absolute;
      height: 542px;
      width: 634px;
      margin-top: -271px;
      margin-left: -317px;
      margin-right: -317px;
      top: 50%;
      left: 50%;
      z-index: 2;
      background: #ffffff;
      outline: 0;
      .closeModal{
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 15px;
        position: absolute;
        right: -210px;
        top: -100px;
        padding: 0 7px;
        color: white;
        cursor: pointer;
        font-size: 22px;
        font-weight: lighter;
      }
      .form-container {
        text-align: center;
        padding: 25px;
        .form-title-label {
          color: #575756;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
          border-bottom: 2px solid #D6D6D6;
          padding-bottom: 10px;
        }
        form {
          padding: 0;
          width: 100%;
          .tokenOption {
            height: 73px;
            border: 1px solid #D7D7D6;
            margin-bottom: 15px;
            line-height: 71px;
            padding: 12px;
            &:hover {
              background-color: #DCF8EF
            }
            .check {
              width: 10%;
              height: auto;
              display: inline-block;
              text-align: right;
              vertical-align: middle;
              input {
                margin: 0;
                padding: 0;
                width: auto;
                height: auto;
              }
            }
            .token {
              width: 65%;
              padding-left: 10px;
              height: auto;
              display: inline-block;
              text-align: left;
              font-size: 30px;
              vertical-align: middle;
            }
            .price {
              width: 25%;
              height: auto;
              display: inline-block;
              text-align: center;
              vertical-align: middle;
              line-height: 32px;
              font-weight: 100;
              .value {
                font-size: 25px;
                display: block;
              }
              .info {
                display: block;
                font-size: 14px;
                margin-top: -10px;
              }
            }
          }
          .orange-button {
            display: block;
            height: 48px;
            width: 126px;
            background-color: #ff4c00;
            border: 1px solid #ff4c00;
            color: #ffffff;
            text-align: center;
            font-size: 13px;
            cursor: pointer;
            &:disabled {
              cursor: default;
              color: #ff4c00;
              background-color: #FFFFFF;
            }
          }
          .totalPrice{
            float: right;
            font-size: 30px;
            color: #ff4c00;
            span{
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}