.modalPayInfoTokens {
  position: absolute;
  width: 400px;
  margin-top: -225px;
  margin-left: -200px;
  margin-right: -200px;
  top: 50%;
  left: 50%;
  z-index: 2;
  background: #ffffff;
  outline: 0;
  .closeModal {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 15px;
    position: absolute;
    right: -210px;
    top: -100px;
    padding: 0 7px;
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: lighter;
  }
  .form-container {
    text-align: center;
    padding: 22px 36px;
    .form-title-label {
      color: $color;
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 10px;
    }
    .info {
      font-size: 14px;
      margin: 10px auto;
    }
    .payInfoForm {
      font-size: 13px;
      padding: 0 26px 20px;
      /*border: 1px solid #00BDA3;*/
      text-align: center;
      margin: 32px 0;
      .radioText {
        font-size: 12px;
        color: #575756;
      }
      .picklist-filter {
        font-size: inherit;
        display: block;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        margin-bottom: 3.08rem;
        width: 80%;
        height: 2.5rem;
        border: 2px solid #ABABAB;
        outline: 0;
        cursor: pointer;
        &:hover, &:focus {
          border: 2px solid #00bda3;
        }
      }
      label {
        font-size: 14px;
      }
      .creditCardInfo {
        display: flex;
        .picklist-filter {
          @extend .picklist-filter;
          margin: 0 15px;
        }
        .textInfo {
          font-size: 13px;
          color: #575756;
          line-height: 40px;
        }
      }
      .orange-button {
        height: 60px;
        width: 120px;
        background-color: white;
        border: 1px solid #ff4c00;
        color: #ff4c00;
        text-align: center;
        font-size: 13px;
        cursor: pointer;
        float: left;
        line-height: 60px;
        text-decoration: none;
        &:hover {
          background-color: #ff4c00;
          color: #ffffff;
        }
      }
      .right {
        float: right;
        background-color: #ff4c00;
        color: #ffffff;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}