.tokens {
  padding: 20px 75px;
  min-height: 67vh;
  .myStrokes {
    border-bottom: 1px solid #D6D6D6;
    font-size: 20px;
    color: $color;
    padding: 24px 2px 16px;
    font-weight: bold;
    .strokes {
      float: right;
      font-weight: 100;
    }
  }
  .balance {
    @extend .myStrokes;
    font-size: 16px;
    .cash {
      @extend .strokes;
    }
    p {
      font-size: 12px;
      font-weight: 100;
    }
  }
  .payment {
    @extend .myStrokes;
    color: #575756;
    &:last-of-type {
      border-bottom: none;
    }
    .paymentTitle {
      display: block;
    }
    p {
      font-size: 12px;
      font-weight: 100;
      span {
        color: $color;
        cursor: pointer;
      }
    }
    label {
      font-size: 12px;
    }
    .paymentButton {
      font-size: 14px;
      background-color: #FFFFFF;
      border-color: #FF4C00;
      color: #FF4C00;
      height: 26px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .purchases {
    .purchasesTitle {
      @extend .myStrokes;
      border-bottom: none;
      color: #575756;
      display: block;
    }
    .purchases-table {
      border-collapse: collapse;
      width: 90%;
      margin: 20px auto;
      thead {
        color: white;
        border: 1px solid $color;
        background: $color;
        text-align: left;
        th {
          padding: 15px 10px 5px;
          font-size: 16px;
        }
        th:nth-child(3), th:nth-child(4) {
          text-align: right;
        }
      }
      tbody {
        tr {
          border: 1px solid $color;
          td {
            padding: 15px 10px 5px;
          }
          td:nth-child(3), td:nth-child(4) {
            text-align: right;
          }
        }
      }
    }
  }
}