.ReactModalPortal {
  .ReactModal__Overlay {
    background: rgba(0, 189, 163, .9) !important;
    .modalCreationRoom {
      position: absolute;
      width: 700px;
      top: 50%;
      left: 50%;
      z-index: 2;
      background: #ffffff;
      outline: none;
      transform: translate(-50%,-50%);
      .closeModal {
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 15px;
        position: absolute;
        right: -210px;
        top: -100px;
        padding: 0 7px;
        color: white;
        cursor: pointer;
        font-size: 22px;
        font-weight: lighter;
      }
      .form-container {
        text-align: center;
        padding: 25px;
        .form-title-label {
          color: #575756;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
          border-bottom: 2px solid #D6D6D6;
          padding-bottom: 10px;
        }
        form {
          padding: 0;
          display: block;
          text-align: left;
          font-size: 14px;
          color: #575756;
          .help-text {
            font-size: 12px;
            text-align: center;
            margin: 10px 0 20px;
          }
          .chip {
            float: left;
            margin: 5px 5px;
            height: 30px;
            font-size: 16px;
            line-height: 30px;
            border-radius: 25px;
            border: 1px solid $color;
            padding: 0 10px 0 10px;
            .closebtn {
              padding-left: 10px;
              color: $color;
              font-weight: bold;
              float: right;
              font-size: 20px;
              cursor: pointer;
            }
            .closebtn:hover {
              color: #000;
            }
          }
          .new-goal {
            clear: both;
            display: block;
            margin-top: 10px;
          }
          .new-goal-inputs {
            display: flex;
            justify-content: space-between;
            .goalValue {
              width: 40%;
              margin-left: 5px;
            }
            .add-button {
              position: relative;
              margin-left: 2px;
              width: 7%;
              font-size: 20px;
              i {
                position: absolute;
                bottom: 16px;
                cursor: pointer;
                &:hover {
                  color: $color;
                }
              }
            }
          }
          .table{
            max-height: 200px;
            overflow: auto;
          }
          table {
            width: 100%;
            border-collapse: collapse;
            max-height: 200px;
            overflow: auto;
            td {
              word-break: break-all;
              padding: 5px;
              &:nth-child(even){
                text-align: right;
              }
            }
            tr{
              border-bottom: 1px solid black;
            }
            i {
              cursor: pointer;
              &:hover {
                color: red;
              }
            }
          }
        }
        .send-button {
          float: right;
          display: block;
          padding: 10px 25px;
          background-color: #ff4c00;
          border: 1px solid #ff4c00;
          color: #ffffff;
          text-align: center;
          font-size: 14px;
          margin-top: 13px;
          margin-bottom: 25px;
          cursor: pointer;
          outline: none;
          clear: both;
          &:disabled {
            color: gray;
            background-color: white;
            cursor: auto;
          }
        }
      }
    }
  }
}