.friend-options {
    margin-bottom: 18px;
    .friend-option {
        margin-top: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
        color:#575756;
        i {
            margin-right: 10px;
        }
        &:hover {
            color: $color;
        }
        &:first-child{
            margin-top: 0;
        }
    }
}