body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  outline: 0;
}

:not(.agreement)::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

$color: #1abc9c;

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 1280px;
  overflow-x: hidden;
}

.App {
  .grid {
    width: auto;
  }
}


/* RESPONSIVE BODY MIN SCREEN */

$profileWidth: 900px;
$profileHeight: 336px;
$screen-min: 1280px;

@media all and (min-width:$screen-min) and (max-width:$screen-min) {
  body {
    min-width: $screen-min;
  }
}

$profileLGWidth: 1200px;
$profileLGHeight: 448px;
$screen-lg-min: 1600px;

$profileXLWidth: 1280px;
$profileXLHeight: 478px;
$screen-xl-min: 1919px;

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

.ReactModal__Overlay--after-open {
  z-index: 2!important;
}

/* PROFILE */
.profile {
  position: relative;
  .followers {
    position: absolute;
    top: 0;
    right: 0;
    width: 190px;
    @include lg {
      width: 200px;
    }
    @include xl {
      width: 210px;
    }
    .followers-title {
      text-align: center;
      margin-top: 16px;
      padding: 8px;
    }
    ul {
      list-style-type: none;
      padding: 0 16px;
      .follower {
        overflow: hidden;
        .follower-img {
          width: 40px;
          height: 40px;
          vertical-align: middle;
        }
        .follower-user {
          padding: 0 8px;
        }
        &.empty {
          text-align: center;
        }
      }
    }
  }
  .profile-content {
    display: flex;
    width: $profileWidth;
    margin: 0 auto;
    @include lg {
      width: $profileLGWidth;
    }
    @include xl {
      width: $profileXLWidth;
    }
  }
}