.confirmAccountInfo {
    color: white;
    background-color: #00bda3;
    position: absolute;
    width: 90%;
    height: 30px;
    margin-left: 5%;
    padding: 5px 10px;
    &:after {
        float: right;
        content: "\00d7";
        cursor: pointer;
    }
}