.confirm-content{
  background-color: #00bda3;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 20%;
  .confirm{
    padding: 25px;
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: #00bda3;
    border: 2px solid white;
    width: 40%;
    margin-left: 30%;
  }
}
