.filter-container {
  padding: 0;
  text-align: left;
  .reset-label {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #ff4d00;
    display: block;
    transition: .1s;
    &:hover{
      text-decoration: underline;
      font-size: 18px;
    }
  }
  .link-container {
    .uppercase-link {
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      display: block;
      margin-top: 0.7rem;
      margin-bottom: 0.7rem;
      &.title-link {
        margin-bottom: 1rem;
      }
      &.featured-links {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
    .uppercase-link:hover {
      color: #00bda3;
    }
    .tag-link {
      display: block;
      margin-bottom: 0.6rem;
      margin-left: 0.5rem;
      .number-link {
        color: #00bda3;
        display: inline;
      }
      .uppercase-label {
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
      }
      .uppercase-label:hover {
        color: #00bda3;
      }
      .uppercase-label-inverse {
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        color: #00bda3;
      }
      .uppercase-label-inverse:hover {
        color: #000000;
      }
    }
  }
}