.footer{
  clear: both;
  bottom: 0;
  min-width: 1280px;
  width: 100%;
  .footer-container {
    padding: 48px 102px 48px 102px;
    background-color: #D6F8ED;
    border-top: 1px solid #00BDA3;
    text-align: center;
    .footer-col {
      display: inline-block;
      text-align: left;
      margin-right: 2%;
      vertical-align: top;
      width: 18%;
      .footer-title {
        font-size: 16px;
        font-weight: bold;
        color: #575756;
        text-align: left;
      }
      .footer-link {
        text-decoration: none;
        display: block;
        font-size: 13px;
        cursor: pointer;
        color: #575756;
        text-align: left;
        margin-top: 0.8rem;
        &:hover{
          color: $color;
        }
        a{
          text-decoration: none;
          color: #575756;
          &:hover{
            color: $color;
          }
        }
      }
      .footer-text {
        display: block;
        font-size: 13px;
        color: #575756;
        margin-top: 0.8rem;
      }
    }
  }
  .footer-disclaimer {
    display: block;
    font-size: 14px;
    color: #575756;
    text-align: center;
    padding-top: 1.8rem;
    padding-bottom: 1.7rem;
    background-color: #D6F8ED;
    border-top: 2px solid #00BDA3;
    .footer-link {
      cursor: pointer;
      color: #575756;
      text-align: left;
      margin-top: 0.8rem;
      &:hover{
        color: $color;
      }
    }
  }
}
