.growler{
	position:fixed;
	display:block;
	top:0;
	left:0;
	opacity:0;
	visibility: hidden;
	width:100%;
	z-index:999999;
	color:#fff;
	font-size:14px;
	background:#00bda3;
	height:30px;
	margin-top:-75px;
	line-height:30px;
	text-align:center;
	transition:opacity 0.3s, margin-top 0.3s;
}
	.growler--success{
		visibility:visible;
		opacity:1;
		margin-top:0px;
		background-color:#00bda3
	}
	.growler__icon{
		margin-right:5px;
		margin-bottom:-3px;
	}

	.growler--error{
		visibility:visible;
		opacity:1;
		margin-top:0px;
		background:#ff5f5f;
	}

	.growler--hiding{
		visibility:visible;
		opacity:0;
		margin-top:-55px;
	}
	.growler--hidden{visibility:hidden;}

	#growler.error .icon{
		margin-right:5px;
		margin-bottom:-6px
	}