.areaHeader{
  display: block;
  height: 85px;
}
.header {
  text-align: left;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 2;
  font-size: 0;
  min-width: 1280px;
  width: 100%;
  border-bottom: 2px solid #00bda3;
  height: 5rem;
  padding: .4rem 73px 5rem;
  .header-nav {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    .community-button {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      color: #00bda3;
      border: 2px solid #00bda3;
      background-color: #ffffff;
      cursor: pointer;
      width: 106px;
      height: 26px;
      vertical-align: top;
      margin-top: 22px;
      outline: none;
    }
    .strokes-button {
      @extend .community-button;
      color: #FF4C00;
      width: auto;
      border: 2px solid #FF4C00;
      margin-left: 20px;
      animation: getTokens infinite 1s;
      &:hover{
        background: #FF4C00;
        color: white;
        animation: none;
      }
      @keyframes getTokens{
        0% {
          transform:   scale(1) ;
        }
        50% {
          transform:   scale(1.1) ;
        }
        100% {
          transform:   scale(1);
        }
      }
    }

  }
  .logo-container {
    display: inline-block;
    position: relative;
    width: 166px; /* logo width + right + left */
    height: 130px; /* logo height + top + bottom */
  }
  .logo {
    position: absolute;
    width: 160px;
    height: 130px;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 6px;
  }
  .label-nav {
    display: inline-block;
    padding-left: 20px;
    margin-top: 25px;
    margin-right: 25px;
    vertical-align: top;
    .separator {
      display: inline-block;
      width: 2px;
      height: 12px;
      background-color: #9e9e9c;
      margin-left: 10px;
      margin-right: 10px;
    }
    li {
      display: inline;
      padding: 8px;
      &.uppercase-label {
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        height: 18px;
        width: 74px;
        color: #575756;
        line-height: 17px;
        text-decoration: none;
      }
      &.uppercase-label:hover {
        color: #00bda3;
      }
      a.header-link {
        color: #575756;
        text-decoration: none;
        &:hover {
          color: #00bda3;
        }
      }
    }
  }
  .header-right-container {
    font-size: 14px;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    float: right;
    .login-container {
      margin-top: 15px;
      width: auto;
      display: inline-block;
      .signup-button {
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        color: #ff4c00;
        border: 2px solid #ff4c00;
        background-color: #ffffff;
        cursor: pointer;
        height: 28px;
        width: auto;
        padding: 5px 8px 5px 8px;
        text-decoration: none;
        &:hover{
          color: white;
          background-color: #ff4c00;
        }
      }
      .separator {
        display: inline-block;
        width: 2px;
        height: 12px;
        background-color: #9e9e9c;
        margin-left: 15px;
        margin-right: 15px;
      }
      .uppercase-label {
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        &.login-label {
          text-decoration: none;
          display: inline-block;
          margin-right: 1rem;
          vertical-align: text-bottom;
        }
      }
      .uppercase-label:hover {
        color: #00bda3;
      }
      .searchIcon {
        max-width: 100%;
        height: auto;
        cursor: pointer;
        vertical-align: middle;
        margin-right: 1rem;
        margin-bottom: 5px;
      }
    }
  }
}