.body-container {
  position: relative;
  width: 100%;
  padding: 3.1rem 53px;
  min-height: 70vh;
}

.streams-loading {
  position: absolute;
  font-size: 10px;
  color: #9e9e9c;
  top: 74px;
  left: calc(15% + 38px);
}