.ReactModalPortal {
  .ReactModal__Overlay {
    background: rgba(0, 189, 163, .9) !important;
    .modal {
      position: absolute;
      width: 480px;
      position: absolute;
      height: auto;
      margin-top: -248px;
      margin-left: -240px;
      margin-right: -240px;
      top: 50%;
      left: 50%;
      z-index: 2;
      background: #ffffff;
      outline: 0px;
      .closeModal{
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 15px;
        position: absolute;
        right: -210px;
        top: -100px;
        padding: 0 7px;
        color: white;
        cursor: pointer;
        font-size: 22px;
        font-weight: lighter;
      }
      .form-container {
        text-align: center;
        padding: 36px 65px;
        .form-title-label {
          margin: 0 0 40px 0;
          color: #00bda3;
          text-align: center;
          font-size: 30px;
          font-weight: bold;
        }
        form {
          padding: 0;
          .errorLogin{
            color: red;
            font-size: 14px;
          }
          .form-username-label {
            display: block;
            text-align: left;
            color: #00bda3;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 8px;
          }
          .orange-button {
            display: block;
            height: 48px;
            width: 126px;
            background-color: #ff4c00;
            border: 1px solid #ff4c00;
            color: #ffffff;
            text-align: center;
            font-size: 13px;
            font-weight: bold;
            margin-top: 40px;
            margin-bottom: 20px;
            margin-left: calc(50% - 63px);
            cursor: pointer;
            transition: .5s;
            &:hover{
              transform: scale(1.1)
            }
          }
          .buttons {
            text-align: center;
            margin-bottom: 30px;
            .cancel-button {
              display: inline-block;
              height: 48px;
              width: 126px;
              background-color: white;
              border: 1px solid #00bda3;
              color: black;
              text-align: center;
              font-size: 13px;
              margin-right: 0.2rem;
              cursor: pointer;
              &:hover{
                background-color: $color;
                color: white;
              }
            }
            .orange-button {
              display: inline;
              margin: 0px;
            }
          }
          .resetMessage {
            font-size: 13px;
            color: #575756;
            margin-bottom: 36px;
          }
        }
        div {
          .orange-label {
            text-decoration-line: none;
            color: #FF4C00;
            cursor: pointer;
          }
        }
        .modal-separator {
          margin: 16px 0 16px calc(50% - 84px);
          height: 2px;
          width: 168px;
          border: 1px solid #d9d9d9;
        }
        .orange-label {
          text-decoration-line: none;
          cursor: pointer;
          color: #FF4C00;
        }
      }
    }
  }
}