.rectangleNoPost{
    width: 100%;
    background: red;
    background-color: #DBF8EF;
    padding: 5px 4px;
    margin-bottom: 15px;
    border: 1px solid #b9e4d7;
    border-radius: 4px;
    .rectangleText {
        height: auto;
        color: #181818;
        font-size: 14px;
        font-weight: bold;
        line-height: 17px;
        margin-bottom: 5px;
        display: inline-block;
        width: auto;
    }
    .separator {
        width: 100%;
        height: 1px;
        background-color: #D6D6D6;
        margin: 0 0 5px 0;
    }
    .textArea{
        height: 38px;
        background-color: white;
        padding: 5px;
        .text{
            color: #ABABAB;
            font-size: 14px;
            line-height: 33px;
            font-weight: 100;
        }
    }
}