.search{
    position: absolute;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    z-index: 2;
    background: #ffffff;
    outline: none;
    .closeModal{
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 15px;
        position: absolute;
        right: -210px;
        top: -100px;
        padding: 0 7px;
        color: white;
        cursor: pointer;
        font-size: 22px;
        font-weight: lighter;
      }
    .searchContainer{
        .searchInput{
            float: left;
            input{
                height: 60px;
                outline: none;
                width: 577px;
                border: none;
                font-size: 24px;
                padding: 5px 20px;
                font-weight: lighter;
            }
        }
        .searchButton{
            float: left;
            background-color: $color;
            height: 60px;
            width: 60px;
            border: 1px solid white;
            font-size: 30px;
            text-align: center;
            color: white;
            padding: 10px;
        }
    }
}