.reset-page {
    .form-reset {
        background-color: white;
        margin: 60px 0 110px 0;
        padding: 10px 65px 0px 65px;
        margin-left: calc(25% - 235px);
        h2 {
            color: $color;
        }
        h3 {
            margin-bottom: 50px;
            color: $color;
        }
        .reset-password-input {
            padding: 15px;
            width: 60%;
            display: block;
            margin-left: calc(50% - 30%);
            margin-bottom: 1vh;
            border: 2px solid gray;
            outline: 0px;
            &:hover,
            &:focus {
                border: 2px solid $color;
            }
        }
        .orange-button {
            display: block;
            height: 48px;
            width: 40%;
            background-color: #ff4c00;
            border: 1px solid #ff4c00;
            color: #ffffff;
            text-align: center;
            font-size: 13px;
            font-weight: bold;
            margin-top: 40px;
            margin-bottom: 20px;
            margin-left: calc(50% - 20%);
            cursor: pointer;
            outline: 0px;
        }
    }
    .other {
        display: inline-block;
        font-size: 14px;
        width: 540px;
        background-color: white;
        padding: 37px;
        border-left: 2px dashed $color;
        color: #575756;
    }
}