div {
 form {
   display: inline-block;
   text-align: center;
   padding: 36px 65px;
   .form-username-label {
     display: block;
     text-align: left;
     color: #00bda3 ;
     font-size: 11px;
     font-weight: bold;
     margin-bottom: 8px;
   }
   input {
     &.login-input {
       display: block;
       width: 349px;
       margin-bottom: 30px;
       cursor: pointer;
       padding: 0 10px;
       font-size: 13px;
       &:hover, &:focus {
         outline: 0px;
       }
     }
   }
   .signup-form-button {
     display: block;
     height: 48px;
     width: 126px;
     background-color: #ff4c00 ;
     border: 1px solid #ff4c00 ;
     color: #ffffff ;
     text-align: center;
     font-size: 13px;
     font-weight: bold;
     margin-top: 25px;
     margin-left: calc(50% - 63px);
     cursor: pointer;
   }
 }

 .signup-to-login {
   margin-top: 15px;
   font-size: 14px;
   color: #575756 ;
   .orange-label {
     text-decoration-line: none;
     color: #FF4C00 ;
   }
 }
}