.signup-page-container {
 width: 100%;
 padding-right: 73px;
 padding-left: 73px;
 margin-bottom: 85px;
 padding-bottom: 20px;
 min-height: 67vh;
 .form-title-label {
   margin: 63px 0 64px 0;
   color: #00bda3 ;
   text-align: center;
   font-size: 30px;
   font-weight: bold;
 }
 .signup-left-container {
   width: calc(50% - 8px);
   display: inline-block;
   margin-left: 8px;
   vertical-align: top;
   text-align: center;
   .create-account-orange-title {
     font-size: 20px;
     font-weight: bold;
     color: #ff4c00 ;
     margin-top: 75px;
     margin-bottom: 0;
   }
 }
 .signup-right-container {
   width: 50%;
   height: 588px;
   display: inline-block;
   vertical-align: top;
   text-align: center;
   .signup-right-container-title-container {
     padding-left: 79px;
     padding-right: 79px;
     text-align: center;
     margin-bottom: 45px;
     .signup-right-container-title {
       font-size: 22px;
       padding-left: 0;
       padding-right: 0;
       font-weight: bold;
     }
   }
   .advertisements {
     .signup-right-container-content-container {
       display: inline-block;
       width: calc(50% - 8px);
       height: 233.22px;
       margin-bottom: 8px;
       border: 1px solid #00bda3 ;
       vertical-align: top;
       margin-right: 8px;
       padding: 5%;
       .signup-right-container-image {
         margin-top: 20px;
       }
       .signup-right-container-p {
         margin-top: 0;
         margin-right: 16px;
         margin-left: 16px;
       }
     }
   }
 }
}