.body-container {
  position: relative;
  width: 100%;
  padding: 3.1rem 53px;
  min-height: 70vh;
}

.snaps-loading {
  position: absolute;
  font-size: 10px;
  color: #9e9e9c;
  top: 37px;
  left: calc(15% + 38px);
}

.snaps-container {
  width: 82%;
  display: inline-block;
  .image-box {
    display: inline;
    .snap-image {
      min-width: 188px;
      min-height: 153px;
      max-width: 188px;
      max-height: 153px;
      margin-right: 0.2rem;
      /* cursor: pointer; */
      border: 1px solid black;
    }
  }
  .no-snaps{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #c5c5c5;
  }
  .more-container {
    position: absolute;
    text-align: right;
    bottom: 0;
    right: 0;
    padding: 1rem 5rem 1.5rem 0;
    .uppercase-label-inverse {
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      color: #00bda3;
    }
    .uppercase-label-inverse:hover {
      color: #000000;
    }
  }
  .trending-tags {
    padding: 8px 0;
    .tag {
      display: inline;
      border-top: 1px solid $color;
      border-bottom: 1px solid $color;
      padding: 8px 0 8px 0.75rem;
      .title {
        color: $color;
        &:hover {
          cursor: pointer;
        }
      }
      .middot {
        padding-left: 12px;
      }
      &:nth-child(2) {
        padding-left: 24px;
      }
      &:last-child {
        padding-right: 12px;
        .middot{
          display: none;
        }
      }
    }
    a {
      position: relative;
      padding: 8px;
      color: #F0F0F0;
      background-color: $color;
      text-decoration: none;
      border-top: 1px solid $color;
      border-bottom: 1px solid $color;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -16px;
        border-top: 16.5px solid transparent;
        border-bottom: 16.5px solid transparent;
        border-left: 16px solid $color;
      }
    }
  }
}