.ReactModalPortal {
  .ReactModal__Overlay {
    background: rgba(0, 189, 163, .9) !important;
    .modalStrokes {
      position: absolute;
      width: 634px;
      margin-top: -164px;
      margin-left: -317px;
      margin-right: -317px;
      top: 50%;
      left: 50%;
      z-index: 2;
      background: #ffffff;
      outline: none;
      .closeModal{
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 15px;
        position: absolute;
        right: -210px;
        top: -100px;
        padding: 0 7px;
        color: white;
        cursor: pointer;
        font-size: 22px;
        font-weight: lighter;
      }
      .form-container {
        text-align: center;
        padding: 25px;
        .form-title-label {
          color: #575756;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
          border-bottom: 2px solid #D6D6D6;
          padding-bottom: 10px;
        }
        form {
          padding: 0;
          display: block;
          text-align: left;
          font-size: 14px;
          color: #575756;
          .input-tips {
            display: inline-block;
          }
          .balance {
            float: right;
            span {
              font-weight: bold;
              color: $color;
              margin-left: 5px;
            }
          }
          .message {
            display: inline-block;
            width: 50%;
            textarea {
              resize: none;
              outline: none;
              width: 100%;
              height: 98px;
              margin: 5px 0 0 0;
            }
          }
          .buy {
            float: right;
            color: red;
            font-weight: bold;
            margin-right: 10%;
            cursor: pointer;
          }
          .send-button {
            display: block;
            height: 48px;
            width: 218px;
            background-color: #ff4c00;
            border: 1px solid #ff4c00;
            color: #ffffff;
            text-align: center;
            font-size: 13px;
            margin-top: 13px;
            cursor: pointer;
            outline: none;
          }
        }
      }
    }
  }
}