.tags-container {
  width: 100%;
  min-height: 70vh;
  .tags {
    .tags-table {
      border-collapse: collapse;
      width: 50%;
      margin: 20px auto;
      thead {
        color: white;
        border: 1px solid $color;
        background: $color;
        text-align: left;
        th {
          padding: 15px 10px 5px;
          font-size: 18px;
        }
        th:nth-child(even) {
          text-align: right;
        }
      }
      tbody {
        tr {
          border: 1px solid $color;
          td {
            padding: 15px 10px 5px;
          }
          td:nth-child(even) {
            text-align: right;
          }
        }
      }
    }
  }
}