.ReactModalPortal {
    .ReactModal__Overlay {
        background: rgba(0, 189, 163, .9) !important;
        .modalTerms {
            position: absolute;
            width: 766px;
            height: auto;
            margin-top: -205px;
            margin-left: -383px;
            top: 50%;
            left: 50%;
            z-index: 2;
            background: #ffffff;
            outline: 0px;
            padding: 2px;
            .closeModal{
                width: 30px;
                height: 30px;
                border: 1px solid white;
                border-radius: 15px;
                position: absolute;
                right: -210px;
                top: -100px;
                padding: 0 7px;
                color: white;
                cursor: pointer;
                font-size: 22px;
                font-weight: lighter;
              }
            .headerTerms {
                height: 57px;
                padding: 9px 76px;
                border-bottom: 2px solid #00BDA3;
                .logoContainer {
                    display: inline;
                    .logo {
                        width: 41px;
                        height: 35px;
                    }
                }
                .titleTerms {
                    color: #575756;
                    margin-left: 30px;
                    font-weight: bold;
                    font-size: 13px;
                    display: inline-block;
                    position: relative;
                    top: -10px;
                }
            }
            .textContent {
                max-height: 200px;
                padding: 19px 43px;
                overflow: auto;
                font-size: 13px;
                color: #575756;
                border-bottom: 2px solid #00BDA3;
                text-align: justify;
            }
            .message {
                padding: 9px 43px;
                color: red;
                font-size: 11px;
                text-align: center;
                margin-bottom: 23px;
            }
            .buttons {
                text-align: center;
                .exit {
                    display: inline-block;
                    width: 126px;
                    height: 47px;
                    padding: 15px 35px;
                    border: 1px solid #00BDA3;
                    font-size: 13px;
                    margin-right: 0.1rem;
                    cursor: pointer;
                    color: #575756;
                }
                .agree {
                    display: inline-block;
                    width: 126px;
                    height: 48px;
                    background-color: #FD4E1E;
                    padding: 16px 35px;
                    font-size: 12px;
                    cursor: pointer;
                    color: white;
                    outline: 0px;
                    &:hover{
                        background-color: white;
                        color: #FD4E1E;
                    }
                }
            }
            .modal-separator {
                margin: 16px 0 16px calc(50% - 25%);
                height: 2px;
                width: 50%;
                border: 1px solid #d9d9d9;
            }
        }
    }
}