.ReactModalPortal {
  .ReactModal__Overlay {
    // transition:  500ms ease-in-out;
    // &--after-open {
    //   opacity: 1;
    //   transform: scale(1,1);
    // }
    // &--before-close {
    //     opacity: 0;
    // }
    background: rgba(0, 189, 163, .9) !important;
    z-index: 1;
    .modalUploadPicture {
      position: absolute;
      width: 634px;
      height: 546px;
      margin-top: -273px;
      margin-left: -317px;
      margin-right: -317px;
      top: 50%;
      left: 50%;
      z-index: 2;
      background: #ffffff;
      outline: 0px;
      padding: 12px;
      animation: animationFrames linear .3s;
      animation-iteration-count: 1;
      transform-origin: 50% 50%;
      @keyframes animationFrames{
        0% {
          transform:   scaleX(0.3) scaleY(0.25) ;
        }
        100% {
          transform:   scaleX(1) scaleY(1) ;
        }
      }
      .closeModal{
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 15px;
        position: absolute;
        right: -210px;
        top: -100px;
        padding: 0 7px;
        color: white;
        cursor: pointer;
        font-size: 22px;
        font-weight: lighter;
      }
      .title {
        height: 17px;
        width: 126px;
        color: #575756;
        font-family: "Helvetica Neue";
        font-size: 14px;
        font-weight: bold;
        line-height: 17px;
        text-align: center;
        margin-bottom: 13px
      }
      .separator {
        box-sizing: border-box;
        height: 2px;
        width: 608px;
        border: 1px solid #D6D6D6;
      }
      .previewComponent {
        height: 90%;
        form {
          padding: 0px;
          .uploadButtons {
            margin: 11px 0;
            .inputfile {
              left: 12px;
              opacity: 0;
              overflow: hidden;
              position: absolute;
              cursor: pointer;
              &:hover {
                background-color: #D6F7ED;
              }
            }
            label {
                display: inline-block;
                background-color: white;
                box-sizing: border-box;
                height: 48px;
                width: 301.27px;
                border: 1px solid #00B699;
                margin-right: 3px;
                outline: 0px;
                font-size: 13px;
                line-height: 46px;
                cursor: pointer;
                font-weight: bold;
                color: #575756;
                &:hover {
                  background-color: #D6F7ED;
                  
                }
              }
            .button {
              display: inline-block;
              background-color: white;
              box-sizing: border-box;
              height: 48px;
              width: 301.27px;
              border: 1px solid #00B699;
              margin-right: 3px;
              outline: 0px;
              font-size: 13px;
              cursor: pointer;
              font-weight: bold;
              color: #575756;
              i {
                vertical-align: middle;
                font-size: 14px;
              }
              &:hover {
                background-color: #D6F7ED;
              }
            }
          }
        }
        .imageArea {
          width: 100%;
          height: 80%;
          text-align: center;
          line-height: 375px;
          .previewText{
            height: 100%;
            text-align: center;
            font-size: 31px;
            color: #D6F7ED;
          }
          img {
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
          }
        }
        .submitButton {
          float: right;
          margin: 10px 0 0 0;
          border: 2px solid red;
          background: white;
          outline: 0px;
          cursor: pointer;
          color: red;
          &:hover{
            color: white;
            background: red;
          }
        }
        .exitButton {
          float: right;
          margin: 10px 0 0 10px;
          border: 2px solid black;
          background: white;
          outline: 0px;
          cursor: pointer;
          color: black;
        }
      }
    }
    .modalLoading{
      position: absolute;
      width: 200px;
      height: 100px;
      margin-top: -50px;
      margin-left: -100px;
      margin-right: -100px;
      top: 50%;
      left: 50%;
      z-index: 2;
      background: #ffffff;
      outline: 0px;
      padding: 12px;
      .loading{
        width: 40px;
        margin: 10% 40%;
        height: 40px;
      }

    }
  }
  .hidden {
    display: none !important;
  }
}