.terms{
    padding: 20px 75px;
    .title {
        color: $color;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 9px;
        padding-top: 24px;
        display: block;
    }
    .subTitle{
        font-size: 16px;
        color: #575756;
        margin-bottom: 13px;
    }
    .separator {
        width: 100%;
        height: 1px;
        background-color: #D9EFE8;
        margin-bottom: 5px;
    }
    .mainC {
        float: left;
        width: 100%;
        background: white;
        overflow: hidden;
        .secondC {
            float: left;
            width: 100%;
            border-right: 1px solid #EBEBEB;
            background: white;
            position: relative;
            right: 75%;
        }
    }
    .aboutContent {
        float: left;
        padding: 20px 10px;
        height: auto;
        font-size: 14px;
        form {
            padding: 0;
            display: block;
            text-align: left;
        }
        &.left {
            width: 25%;
            height: auto;
            position: relative;
            left: 75%;
            .tablinks {
                border: 0;
                background-color: white;
                outline: 0;
                width: 100%;
                margin-bottom: 10px;
                font-size: 14px;
                border: none;
                outline: none;
                display: block;
                text-decoration: none;
                color: black;
                text-align: left;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    color: #FF4C00;
                }
                &.active {
                    color: #FF4C00;
                    font-weight: bold;
                }
            }
        }
        &.right {
            width: 75%;
            padding: 15px;
            height: auto;
            position: relative;
            left: 75%;
            .input-container {
                margin-bottom: 1.08rem;
                input {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background: transparent;
                    text-indent: 0.01px;
                    text-overflow: "";
                    border-radius: 0;
                    width: 100%;
                    margin-top: -0.1rem;
                    outline: 0;
                    border: 2px solid #ABABAB;
                }
                &:focus {
                    border: 2px solid #00bda3;
                }
            }
            label {
                display: block;
                margin-bottom: 2px;
            }
            .options {
                display: inline-block;
                width: 40%;
                margin-right: 10%;
                label {
                    display: block;
                    margin-bottom: 2px;
                }
                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background: url('assets/images/ArrowRight.png') no-repeat 95% 7px;
                    text-indent: 0.01px;
                    text-overflow: "";
                    border-radius: 0;
                    border: 2px solid #ABABAB;
                }
                 :focus {
                    border: 2px solid #00bda3;
                }
            }
            .picklist-filter {
                display: block;
                padding-left: 0.8rem;
                padding-right: 0.8rem;
                margin-bottom: 1.08rem;
                width: 100%;
                height: 2rem;
                border: 2px solid #ABABAB;
                outline: 0;
                cursor: pointer;
            }
            &.tabcontent {
                display: none;
                min-height: 52vh;
                max-height: 52vh;
                overflow-y: scroll;
                .titleSection{
                    color: $color;
                    font-size: 25px;
                    margin-bottom: 10px;
                }
                .section{
                    text-align: justify;
                    .subsection{
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                &.first {
                    display: block;
                }
            }
            .bioTitle {
                margin: 0 0 5px 5px;
            }
            .bioContent {
                margin-left: 5px;
                outline: 0;
                width: 100%;
                height: 306px;
                resize: none;
                border: 2px solid #ABABAB;
                font-size: 13px;
                &:focus {
                    border: 2px solid #00bda3;
                }
            }
            button {
                display: block;
                border: 2px solid #FD4E1E;
                margin: 15px 0 0 0;
                background-color: white;
                color: #FD4E1E;
                font-size: 13px;
                font-weight: bold;
                outline: 0;
                cursor: pointer;
            }
        }
    }
}