@import "ageVerification";

.side{
    .step{
        width: 48%;
        margin: 10px 30px;
        padding: 0;
        background-color: white;
        outline: none;
        border: 2px solid $color;
        transition: 1s;
        .stepImage{
            background-color: #CAF7EE;
            height: 130px;
            i{
                position: relative;
                font-size: 100px;
                top: 50%;
                transform: translateY(-50%);
                color: #FF4E27;
            }
        }
        .stepName{
            padding-top: 5px;
            font-size: 25px;
            color: #FF4E27;
        }
        .stepInfo{
            font-size: 18px;
            padding: 10px 30px;
            text-align: justify;
            color:#575756;
        }
        .stepButton{
            font-size: 14px;
            border: 2px solid red;
            width: min-content;
            padding: 3px 5px;
            margin: 10px;
            color: red;
            background-color: white;
            display: inherit;
            cursor: pointer;
            &:hover{
                background-color: red;
                color:white;
            }
        }
    }
    
}