.ageVerification{
    padding: 20px 75px;
    min-height: 67vh;
    .title {
        padding-top: 24px;
        a {
            text-decoration: none;
            color: $color;
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 9px;
            display: block;
        }
    }
    .separator {
        width: 100%;
        height: 1px;
        background-color: #D9EFE8;
        margin-bottom: 5px;
    }
    .stepcontent {
        padding: 10px 30px;
        margin-bottom: 20px;
        font-size: 20px;
        color: #575756;
    }
    .steps{
        margin-top: 20px;
        text-align: center;
        clear: both;
        .step{
            display: inline-block;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.85);
            width: 28%;
            margin: 10px 30px;
            padding: 0;
            background-color: white;
            outline: none;
            border: 2px solid $color;
            cursor: pointer;
            transition: 1s;
            &:hover, &.active{
                color: #000000;
                box-shadow: 5px 5px 10px 0 rgba(24, 199, 165, 0.6);
                transform: translateY(-10px);
            }
            .stepImage{
                background-color: #D6F8ED;
                height: 130px;
                i{
                    position: relative;
                    font-size: 100px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #FF4E27;
                }
            }
            .stepName{
                padding-top: 5px;
                font-size: 25px;
                color: #FF4E27;
            }
            .stepInfo{
                font-size: 14px;
                padding: 10px 30px;
                text-align: justify;

            }
        }
    }

}