.side {
    text-align: center;
    min-height: 300px;
    &:first-child {
        border-left: none;
    }
    p, table {
        margin: 10px auto;
    }
    th, td {
        padding: 2px 10px;
    }
    h2 {
        margin: 10px 0 0 0;
        color: gray;
    }
    .picklist-filter {
        padding: 0 10px;
        margin-bottom: 0.8rem;
        height: 4rem;
        outline: 0;
        cursor: pointer;
        &.sign {
            display: inline;
        }
    }
    .react-datepicker-wrapper {
        width: 100%;
        div {
            width: 100%;
        }
        .datepiker {
            width: 100%;
            outline: 0;
            cursor: pointer;
            padding-left: 0.8rem;
            padding-right: 0.8rem;
            margin-bottom: 0.8rem;
        }
    }
    .button {
        display: block;
        font-size: 14px;
        font-weight: 700;
        color: #ff4c00;
        border: 2px solid #ff4c00;
        background-color: #ffffff;
        cursor: pointer;
        height: 28px;
        outline: 0;
        margin: 10px auto;
        padding: 5px 8px 5px 8px;
        text-decoration: none;
        &.agree {
            display: inline-block;
            height: 2rem;
        }
        &:hover{
            background-color: #ff4c00;
            color: white;
        }
    }
    .agreement {
        border-top: 1px solid #ABABAB;
        width: 100%;
        height: 400px;
        overflow: auto;
        padding: 10px;
        text-align: justify;
    }
    form {
        padding: 0;
        width: 280px;
    }
}
.agreements-list{
    display: block;
    max-height: 245px;
    overflow: auto;
    text-align: center;
    margin-bottom: 10px;
    ol{
        display: inline-block;
    }
    li{
        margin: 5px;
        i{
            cursor: pointer;
            &:hover{
                color: $color;
            }
        }
    }
}
.buttons{
    text-align: center;
    .next{
        text-decoration: none;
        color: $color;
        border: 2px solid $color;
        padding: 5px;
        font-size: 25px;
        outline: 0;
        cursor: pointer;
        background-color: transparent;
        &:hover{
            background-color: $color;
            color: white;
        }
    }
    .done{
        color: #FF4E27;
        border: 2px solid #FF4E27;
        padding: 5px;
        font-size: 25px;
        outline: 0;
        cursor: pointer;
        background-color: transparent;
    }
}
