.side {
    .max-side {
        max-height: 300px;
        overflow: auto;
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            height: 100%;
            td,
            th {
                text-align: left;
                padding: 8px;
                span{
                    display: block;
                }
            }
            tr{
                border-bottom: 1px solid $color;
            }
        }
        .image{
            float: left;
            width: 50%;
            padding: 20px;
        }
    }
}
.warningMessage{
    clear: both;
    text-align: center;
    padding-top: 10px;
    .icon{
        color: $color;
        display: inline-block;
        font-size: 80px;
        //color: #FF4E27;
    }
    .text{
        display: inline-block;
        width: 60%;
    }

}