.ReactModalPortal {
  .ReactModal__Overlay {
    background: rgba(0, 189, 163, .9) !important;
    .modalUploadAlbum {
      position: absolute;
      width: 634px;
      margin-top: -273px;
      margin-left: -317px;
      margin-right: -317px;
      top: 50%;
      left: 50%;
      z-index: 2;
      background: #ffffff;
      outline: 0;
      padding: 12px;
      .closeModal {
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 15px;
        position: absolute;
        right: -210px;
        top: -100px;
        padding: 0 7px;
        color: white;
        cursor: pointer;
        font-size: 22px;
        font-weight: lighter;
      }
      .title {
        height: 17px;
        width: auto;
        color: #575756;
        font-family: "Helvetica Neue", arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 17px;
        margin-bottom: 13px
      }
      .separator {
        box-sizing: border-box;
        height: 2px;
        width: 608px;
        border: 1px solid #D6D6D6;
      }
      .uploadButtons {
        text-align: center;
        margin: 11px 0;
        .inputfile {
          left: 12px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          cursor: pointer;
          &:hover {
            background-color: #D6F7ED;
          }
        }
        label {
          display: inline-block;
          background-color: white;
          box-sizing: border-box;
          height: 48px;
          width: 301.27px;
          border: 1px solid #00B699;
          margin-right: 3px;
          outline: 0;
          font-size: 14px;
          line-height: 46px;
          cursor: pointer;
          font-weight: bold;
          color: #575756;
          &:hover {
            background-color: #D6F7ED;
          }
        }
        .button {
          display: inline-block;
          background-color: white;
          box-sizing: border-box;
          height: 48px;
          width: 301.27px;
          border: 1px solid #00B699;
          margin-right: 3px;
          outline: 0;
          font-size: 13px;
          cursor: pointer;
          font-weight: bold;
          color: #575756;
          i {
            vertical-align: middle;
            font-size: 14px;
          }
          &:hover {
            background-color: #D6F7ED;
          }
        }
      }
      form {
        padding: 0;
        margin: 0;
        text-align: initial;
        width: 100%;
        .photoset {
          color: #575756;
          font-size: 14px;
          font-weight: bold;
          margin-top: 10px;
        }
        .title-photoset {
          color: #575756;
          font-size: 14px;
          margin-top: 1.5em;
          font-weight: 100;
        }
        .description-photoset {
          resize: none;
          border: 1px solid #d9d9d9;
          width: 100%;
          height: 96px;
          padding: 2px 4px;
          outline: none;
          &:hover, &:focus {
            border: 1px solid $color;
          }
        }
        .question {
          color: #ABABAB;
          font-size: 14px;
          font-weight: 100;
        }
        .tokens-input {
          width: 60px;
          height: 30px;
          outline: none;

        }
        .submit-album {
          float: right;
          margin: 10px 15px 0 0;
          border: 2px solid red;
          background: white;
          outline: 0;
          font-size: 14px;
          padding: 7px 13px;
          font-weight: bold;
          cursor: pointer;
          color: red;
          &:hover {
            background-color: red;
            color: white;
          }
        }
        .cancel-album {
          @extend .submit-album;
          border: 2px solid black;
          color: black;
          &:hover {
            background-color: black;
          }
        }
      }
    }
    .imageCount {
      float: left;
      font-size: 14px;
      color: $color;
    }

  }
}