.modalBuyAlbum {
    height: 484px;
    width: 334px;
    background-color: #FFFFFF;
    position: absolute;
    margin-top: -273px;
    margin-left: -167px;
    margin-right: -167px;
    top: 50%;
    left: 50%;
    z-index: 2;
    outline: 0px;
    padding: 15px 0;
    font-size: 14px;
    .closeModal {
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 15px;
        position: absolute;
        right: -210px;
        top: -100px;
        padding: 0 7px;
        color: white;
        cursor: pointer;
        font-size: 22px;
        font-weight: lighter;
    }
    .title {
        color: #575756;
        padding: 0 0 13px 0;
        margin: 0 7px;
        font-weight: bold;
        border-bottom: 2px solid #D6D6D6;
    }
    .cover {
        height: 340px;
        position: relative;
        overflow: hidden;
        .coverImage {
            height: 100%;
        }
        .coverBlock {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            background-color: rgba(0, 0, 0, 0.63);
            text-align: center;
            .lock {
                color: white;
                position: relative;
                top: 100px;
                font-size: 7em;
            }
            .albumTitle {
                color: white;
                position: absolute;
                bottom: 0;
                padding: 5px;
                font-size: 16px;
                font-weight: lighter;
                width: 100%;
                text-align: left;
                padding-left: 15px;
                .albumStats {
                    margin-top: 10px;
                    .albumTokens {
                        float: right;
                        font-size: 16px;
                        img {
                            width: 25px;
                            height: 26px;
                            vertical-align: middle;
                            margin-left: 5px;
                        }
                    }
                    .albumViewers {
                        float: left;
                        font-size: 16px;
                        i {
                            margin-left: 5px;
                            font-size: 23px;
                            vertical-align: bottom;
                        }
                    }
                }
            }
        }
    }
    .buttonBuy {
        background-color: red;
        height: 40px;
        width: 126px;
        position: absolute;
        margin-left: 50%;
        left: -63px;
        margin-top: 12px;
        color: white;
        font-size: 15px;
        outline: 0px;
        border: 0;
        cursor: pointer;
    }
}