.verificationMessage{
    width: 100%;
    border: 1px solid red;
    background-color:white; 
    color: #00BDA3;
    text-align: center;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 15px;
}