.live {
    display: inline-block;
    width: 100%;
    .tips {
        float: right;
        background-color: #ff4c00;
        height: 35px;
        width: 160px;
        padding: 3px;
        padding-right: 0;
        .tip {
            display: inline-block;
            background-color: white;
            color: #ff4c00;
            cursor: pointer;
            height: 100%;
            width: 18%;
            margin-right: 2%;
            line-height: 30px;
            text-align: center;
        }
    }
    .live-video {
        display: block;
        width: 100%;
        position: relative;
        .logo {
            background: url(/static/media/Logo.68d3537b.png);
            position: absolute;
            z-index: 2;
            width: 100px;
            height: 92px;
            background-size: contain;
            background-repeat: no-repeat;
            right: 10px;
            margin-top: 10px;
        }
        .video {
            position: relative;
            width: 100%;
            height: 60vh;
        }
    }
}