.live-description {
    padding: 5px;
    background-color: #FFFFFF;
    font-size: 15px;
    border: 1px solid #00BDA3;
    display: inline-block;
    width: 80%;
    position: relative;
    margin-bottom: 15px;
    .enter-goal {
      display: inline-block;
      margin-right: 5px;
      color: #FF4C00;
      width: 20%;
    }
    .tags {
      display: block;
      width: 70%;
      color: #ADADAD;
    }
    .goal {
      display: inline-block;
      width: 70%;
    }
  }