.streaming{
    background-color: #DBF8EF;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    .streamingChat{
        width: 25%;
        float: left;
        padding-right: 20px;
    }
    .streamingVideo{
        width: 90%;
        display: inline-block;
    }
}