.tips {
    float: right;
    background-color: #ff4c00;
    height: 35px;
    width: 160px;
    padding: 3px;
    padding-right: 0;
    .tip {
        display: inline-block;
        background-color: #f9eae5;
        color: #ff4c00;
        cursor: pointer;
        height: 100%;
        width: 18%;
        margin-right: 2%;
        line-height: 30px;
        text-align: center;
    }
}